<!DOCTYPE html>
<html ng-app="heisenbergApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/css")

    <link href="/Content/bootstrap.min.css" rel="stylesheet" media="screen">
</head>
<body>
    @RenderBody()

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/scripts/bootstrap.min.js")
    @Scripts.Render("~/Scripts/angular.min.js")
    @Scripts.Render("~/Scripts/angular-route.js")
    @Scripts.Render("~/Scripts/angular-resource.js")
    @Scripts.Render("~/Scripts/angular-sanitize.js")
    @Scripts.Render("~/App/Services.js")
    @Scripts.Render("~/App/TwitterFilters.js")
    @Scripts.Render("~/App/HeisenbergApp.js")
    @Scripts.Render("~/App/Dashboard/Dashboard.js")
    @RenderSection("scripts", required: false)
</body>
</html>
